<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<h1>Stupid coaching</h1>
<h2><%= @question %></h2>
<p><em>-You</em></p>
<h2><%= @answer %></h2>
<p><em>-Your coach</em></p>
<%= link_to "Ask a new question", ask_path %>
