<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<h1>Stupid coaching</h1>
<p>Ask your coach anything</p>
<form action="http://localhost:3000/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-danger">
</form>

